
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
        <dict>
            <key>items</key>
            <array>
                <dict>
                    <key>assets</key>
                    <array>
                        <dict>
                            <key>kind</key>
                            <string>software-package</string>
                            <key>url</key>
                            <string>https://dl.dropboxusercontent.com/s/6xk8ej8m99xsje6/LUCFER%20XO_2.4.0_1678540798.ipa?dl=0</string>
                        </dict>
                        <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://g.top4top.io/p_2627gslty1.png</string>
                        </dict>
                    </array>
                    <key>metadata</key>
                    <dict>
                        <key>bundle-identifier</key>
                        <string>com.tencent.igg</string>
                        <key>bundle-version</key>
                        <string>2.4.0</string>
                        <key>kind</key>
                        <string>software</string>
                        <key>title</key>
                        <string>ببجي عزيز </string>
                    </dict>
                </dict>
            </array>
        </dict>
    </plist>
